[user]
	name = Gavin Lazar Suntop
	email = gavin@gsuntop.com
[github]
	user = gvn
[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = always
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
  meta = white bold
  commit = green bold
  frag = magenta
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[core]
	excludesfile = "/Users/gvn/dotfiles/.gitignore-global"
[dropbox]
	folder = "/Users/gsuntop/Google Drive/Code/_git"
[filter "media"]
	required = true
	clean = git media clean %f
  smudge = git media smudge %f
[credential]
	helper = osxkeychain
[diff-so-fancy]
	markEmptyLines = false
