# WAT? –> http://crontab.guru
# ┌────────────────────────── minute
# |    ┌───────────────────── hour
# |    |    ┌──────────────── day of month
# |    |    |    ┌─────────── month
# |    |    |    |    ┌────── day of week
# |    |    |    |    |
# ▼    ▼    ▼    ▼    ▼       command
